.strikethrough {
    width: 26px;
    height: 26px;
}

.strikethrough__btn {
    width: 26px;
    height: 26px;
    padding: 2px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.strikethrough__btn:hover {
    background-color: rgb(235, 235, 235);
}

#strikethrough__icon {
    font-size: 1.1rem;
    text-decoration: line-through;
    margin: 0;
}